    body {
        font-family: Arial, sans-serif;
        text-align: center;
        background-color: #f0f0f0;
        /* background-color: #333; */
        margin: 0;
        padding: 0;
        background-image: url('https://media.istockphoto.com/id/1412683418/photo/futuristic-diagnosis-and-treatment-concept.webp?b=1&s=170667a&w=0&k=20&c=XYTz931GPUVdgQ1GRFeeOtKOWTEVLWOjkMU52dio1_w=');
        background-size: cover;
        /* Adjust as needed */
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    
    header {
        background-color: #007bff;
        color: #fff;
        padding: 20px;
    }
    
    .contaner {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    label {
        color: black;
        font: 1em sans-serif;
    }
    
    label,
    textarea {
        display: block;
        margin-bottom: 10px;
        font-size: large;
    }
    
    textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    #result {
        font-weight: bold;
        color: #007bff;
    }